{% extends "docente/plantillabase.html" %}

{% block headline %} Ejercicios {% endblock %}

{% block content %}

<!-- Formulario de búsqueda -->


<form method="get" class="mb-4">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Buscar</button>
    <a href="{% url 'ejercicios' %}" class="btn btn-secondary">Volver al listado</a>
</form>


<!-- Lista de ejercicios -->
<ul class="list-group">
    {% for ejercicio in ejercicios %}
    <li class="list-group-item">
        <h5>{{ ejercicio.nombre }}</h5>
        <p>
            <b>Tema:</b> {{ ejercicio.tema }} |
            <b>Subtema:</b> {{ ejercicio.subtema1 }} / {{ ejercicio.subtema2 }}
        </p>
        <p>
            <b>Momento:</b> {{ ejercicio.momento }} |
            <b>Nivel:</b> {{ ejercicio.nivel }} |
            <b>Alumnos:</b>
            {% if ejercicio.num_alumnos_max %}
                {{ ejercicio.num_alumnos_min }} - {{ ejercicio.num_alumnos_max }}
            {% else %}
                {{ ejercicio.num_alumnos_min }}
            {% endif %}

        </p>
        <p>
            <b>Duración:</b> {{ ejercicio.duracion }} min |
            
            <!-- Dificultad interactiva -->
            <b>Dificultad:</b>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="{{ ejercicio.dificultad_minus }}">
                -
            </button>
            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="{{ ejercicio.dificultad_plus }}">
                +
            </button>
        </p>
        <p>{{ ejercicio.descripcion }}</p>

        {% if ejercicio.imagen %}
            <img src="{{ ejercicio.imagen.url }}" alt="imagen ejercicio" style="max-width:200px;">
        {% endif %}

        {% if ejercicio.link %}
            <a href="{{ ejercicio.link }}" target="_blank">Ver más</a>
        {% endif %}
    </li>
    {% endfor %}

</ul>

{% endblock %}
