{% extends "docente/plantillabase.html" %}

{% load static %}


{% block title %}Pagina principal para docentes.{% endblock %}

{% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Encabezado principal -->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../static/images/tennisDummy1.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Docente</h1>
                    <p>En este portal diseñado para docentes del mundo del tenis encontrarás ejercicios, estructuras de clases, técnica, metodos de enseñanza e incluso un generador de clases.</p>
                    <a class="btn btn-primary" href="#!">Vamos!</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Bienvenido tenista</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <!-- Tarjeta 1 Generador de clases -->
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Generador de clases de tenis</h2>
                            <p class="card-text">Con este generador podrás planificar tus clases, con capacidad de elegir el numero de alumnos, temas a trabajar y nivel.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Vamos</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <!-- Base de datos de ejercicios -->
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Ejercicios</h2>
                            <p class="card-text">Explora una base de datos de ejercicios para incluir en tus clases seleccionados y subdivididos dependiendp del nivel, numero de alumnos, tema a trabajar...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'ejercicios' %}">Vamos</a></div>

      


                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <!-- Base de datos de estructuras de clases -->
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Estructuras para tus clases</h2>
                            <p class="card-text">Explora diferentes maneras de estructurar tus clases de tenis.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Vamos</a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}